<form
  hx-put="/link/edit?id={{ oidToStr .Id }}"
  hx-post="/link/new"
  hx-params="not new-label"
  hx-target="#link-{{ oidToStr .Id }}"
  hx-swap="outerHTML"
>
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{ .Name }}" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="url" class="col-sm-2 col-form-label">Url</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" name="url" value="{{ .Url }}" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="label" class="col-sm-2 col-form-label">Label</label>
    <div class="col-sm-10">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="label" />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          Add
        </button>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button
    class="btn btn-outline-primary"
    hx-get="/link?id={{ oidToStr .Id }}"
    hx-target="#link-{{ oidToStr .Id }}"
    hx-swap="outerHTML"
  >
    Cancel
  </button>
</form>
