{{ define "export" }}
<!DOCTYPE html>
<html lang="en" data-bs-theme="{{.Settings.ColorScheme}}">

{{template "head"}}

<body>

    {{ template "header" }}

    <div class="container">
        <div class="row" id="new-link">
            <div class="col">
                <h3>Export Links</h3>
                <form action="/export" method="POST">

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Action</label>
                        <div class="col-sm-10">
                           <div class="form-check">
                                <input class="form-check-input" type="radio" name="action" value="csv"
                                    id="action-export" selected="selected">
                                <label class="form-check-label" for="action-preview">
                                    CSV
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="action" value="json"
                                    id="action-export">
                                <label class="form-check-label" for="action-import">
                                    JSON
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary me-2">Download</button>
                            <a class="btn btn-outline-primary" href="/links">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <pre id="result"></pre>

    {{ template "footer" }}

</body>

</html>
{{ end }}
