{{ define "import" }}

{{ template "head" .Settings}}

<body>

    {{ template "header" }}

    <div class="container">
        <div class="row" id="new-link">
            <div class="col">
                <h3>Import Links</h3>
                <form hx-post="/import" hx-target="#result" hx-swap="innerHTML"
                    hx-encoding="multipart/form-data">
                    <div class="row mb-3">
                        <label for="file" class="col-sm-2 col-form-label">File</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="file" required="required">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Action</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="action" value="preview"
                                    id="action-preview" selected="selected">
                                <label class="form-check-label" for="action-preview">
                                   Preview 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="action" value="import"
                                    id="action-import">
                                <label class="form-check-label" for="action-import">
                                   Import 
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary me-2">Upload</button>
                            <a class="btn btn-outline-primary" href="/links">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="result"></div>

    {{ template "footer" }}

</body>

</html>
{{ end }}
