<!DOCTYPE html>
<html class="dark">
    <head>
        <title>Zowber Linkz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="dark:bg-gray-900 dark:text-gray-200">
      <h1 class="text-5xl mb-5">Zowber Linkz</h1>
      <p class="text-lg mb-5">The straight-forward bookmark manager.</p>
      <a href="/links">View links</a>
    </body>
</html>
